<div class="top" style='    margin-left: -20px;
    margin-right: -20px;
    padding-top: 100px;'>
  <div class="wrapper">
    <iframe src="https://player.vimeo.com/video/<%= @project.link %>?title=0&byline=0&portrait=0&transparent=0&autoplay=1&color=ffffff" width="640" height="480" frameborder="0"  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
  </div>
</div>

  <div class="static-info" style="margin-bottom:50px;"> 

  <h1 style="width:66%;"><%= @project.title %></h1>
  <div class="info">
   <%= simple_format(@project.description, {}, wrapper_tag: "p") %>
     </div><br>
<div class="img_wrap">
      <%= image_tag @project.image, class: 'project_img' %>
</div>


<div class="credits">
  <h1>Credits:<br> 
<a style="text-decoration: none;" href="<%=@project.link1 %>" target="_blank"> <h1 style="margin:0;" ><%= @project.credit1 %></h1></a>
<a style="text-decoration: none;" href="<%=@project.link2 %>" target="_blank"> <h1 style="margin:0;" ><%= @project.credit2 %></h1></a>
<a style="text-decoration: none;" href="<%=@project.link3 %>" target="_blank"> <h1 style="margin:0;" ><%= @project.credit3 %></h1></a>  
<a style="text-decoration: none;" href="<%=@project.link4 %>" target="_blank"> <h1 style="margin:0;" ><%= @project.credit4 %></h1></a>
    </h1>
</div>

<!-- PREVIOUS/NEXT on >=TABLET  view end-->
<div class="prev-next-container">

   
 <%= link_to(project_url(@project.previous), :remote => true) do %>
  <p style='float:left;'>PREVIOUS PROJECT 
<% end %>

  
    
  <%= link_to(project_url(@project.next), :remote => true) do %>
  <p style='float:right;'>NEXT PROJECT
<% end %>

</div>
<br>
<br>
<br>

<div class="left" style="float:left;"><%=   link_to (image_tag("icon-previous-mobile@3x.png", id: 'control-img', class: 'control', :style => "float:left;line-height:1em;", size: "100x50")), project_url(@project.previous), :remote => true %>
</div>
 <%= link_to(project_url(@project.previous), :remote => true) do %>
<div class="brandlink" style="float:left;">
  <p>&nbsp;<%= @project.previous.brand.upcase %></p>
</div>
<% end %>


<div class="right" style="float:right;"> <%= link_to (image_tag("icon-next-mobile@3x.png", id: 'control-img', class: 'control', :style => "float:right;line-height:1em;", size: "100x50", remote: true)), project_url(@project.next), :remote => true %>
</div>


  <%= link_to(project_url(@project.next), :remote => true) do %>
<div class="brandlink" style="float:right;">
  <p> <%= @project.next.brand.upcase %>&nbsp;&nbsp;
</div>
<% end %>



